body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* GRID */
.grid-container{
    display: grid;
    grid-template-areas: 
        'navBar'
        'header'
        'content'
        'footer';
}

/* NAVIGATION BAR */
.navBar{
    grid-area: navBar;
    background-color: #c3dbdd;
    border: .5px solid black;
    border-radius: 3px;
}
.navBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navBar ul li a{
    display: block;
    padding: 8px 2px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.navBar li a:hover{
    background-color: #3d4343;
    color: white;
}

/* HEADER */
.header{
    grid-area: header;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

/* MAIN */
.content{
    grid-area: content;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border: .5px solid black;
    border-radius: 3px;
}
.mainPar{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* FOOTER */
.footer{
    grid-area: footer;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    background-color: black;
    height: 20px;
    color: white;
}


/* MEDIA QUERIES FOR 768*/
@media(min-width: 768px){
    /* GRID */
    .grid-container{
        display: grid;
        grid-template-areas: 
            'header'
            'navBar'
            'content'
            'footer';
    }

    /* NAVIGATION BAR */
    .navBar{
        grid-area: navBar;
        background-color: #c3dbdd;
        border: .5px solid black;
        border-radius: 3px;
    }
    .navBar ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .navBar li{
        display: inline-block;
        padding: 8px 2px;
        margin: 0 10px;
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navBar li a:hover{
        background-color: #3d4343;
        color: white;
    }
    

    /* HEADER */
    .header{
        grid-area: header;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        text-align: center;
        background-color: black;
        color: white;
    }

    /* MAIN */
    .content{
        grid-area: content;
        background-color: white;
        border: 2px solid black;
        border-radius: 2px;
        text-align: center;
        font-size: 24px;
        margin: 10px;
    }
    .gallery{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }
    .gallery img{
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        border: .5px solid black;
        border-radius: 3px;
    }
    .mainPar{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    /* FOOTER */
    .footer{
        grid-area: footer;
        text-align: center;
        font-size: 16px;
        font-style: italic;
        background-color: black;
        height: 22px;
        color: white;
    }
}

@media(min-width: 1024px){
    .grid-container{
        display: grid;
        grid-template-areas: 
            'navBar'
            'header'
            'content'
            'footer';
    }

    /* NAVIGATION BAR */
    .navBar{
        grid-area: navBar;
        background-color: #c3dbdd;
        border: .5px solid black;
        border-radius: 3px;
    }
    .navBar ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .navBar li{
        display: inline-block;
        padding: 8px 2px;
        margin: 0 10px;
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navBar li a:hover{
        background-color: #3d4343;
        color: white;
    }
    

    /* HEADER */
    .header{
        grid-area: header;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        text-align: center;
        background-color: black;
        color: white;
    }

    /* MAIN */
    .content{
        grid-area: content;
        background-color: white;
        border: 2px solid black;
        border-radius: 2px;
        text-align: center;
        font-size: 24px;
        margin: 10px;
    }
    .gallery{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }
    .gallery img{
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        border: .5px solid black;
        border-radius: 3px;
    }
    .mainPar{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    /* FOOTER */
    .footer{
        grid-area: footer;
        text-align: center;
        font-size: 18px;
        font-style: italic;
        background-color: black;
        height: 24px;
        color: white;
    }
}