.feedback {
  color: red;
  display: block;
}

.valid-feedback {
  color: green;
  display: none; 
}

body{
  padding: 10px;
}

header{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

#registrationForm{
  background-color: beige;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

@media(min-width: 768px){
  header{
    font-size: 42px;
  }

  #registrationForm {
    width: 60%;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  label{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  input{
    width: 100%;
    margin: 0;
  }

  .feedback {
    grid-column: span 2;
  }

  button {
    grid-column: span 2;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  header {
      font-size: 44px;
  }

  #registrationForm {
      width: 50%;
  }

  label {
      font-size: 16px;
  }

  input {
      width: 100%;
      padding: 10px;
  }

  button {
      padding: 10px 20px;
      font-size: 16px;
  }
}