body{ /*sets the background color and margin space for the body of the page*/
    background-color:blanchedalmond;
    color: whitesmoke;
    margin: 10px;
    font: 18px;
}
h1{ /* sets the text alignment, font, border and height for an h1 header */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    height: 30px;
    color: black;
    font-size: 20px;
}
#mainHeader{ /*Sets a background color for text, alignment, height, font, size, and a rounded edge border for my main header*/
    background: black;
    text-align: center; 
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 1px;
    color: white;
}
footer{ /* sets a background color for the footer, define its height, text alignment, and a rounded edge border*/
    background: black;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-style: italic;
    font-size: 12px;
}
section{ /* formats the sections in the page */
    margin: 0 auto;
    width: 100%;
}
img{ /* Sets a rounded radius, border, and shadow to images in the page */
    border-radius: 15px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 0px 3px 3px 0px black;
}
a{ /* Sets the font color, font, and size for every links in the page */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.highlight{ /*This sets a background color with a rounded edge for my paragraph and also setting the font color, alignment, and style for the words. */
    background-color: whitesmoke;
    border-radius: 3px;
    font-style: italic;
    color: black;
    text-align: center;
    font-size: 12px;
}
.micro-5-charted-regular { /* Add Google Font to embed in the webpage*/
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: black;
    font-size: 12px;
}

ul{
    list-style-type: none;
    padding: 0;
}
.liNav{
    display: inline-block;
}
.liDrop{
    padding: 10px;
}
.navBar{
    background-color: bisque;
    overflow: hidden;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding: 8px;
}
#dropMenu{
    display: none;
    padding: 8px 8px;
}
#dropdown:hover #dropMenu{
    display: block;
    position: absolute;
    background-color: bisque;
    margin-top: 16px;
    border: 1px solid black; 
    box-shadow: 0px 2px 2px 0px;
    font-size: 14px;
}
  
/* Media Queries */
@media (min-width: 768px){
    body{
        background-color: black;
        color: whitesmoke;
        margin: 25px;
        font: 20px;
    }
    .liDrop{
        padding: 16px;
    }
    .navBar{
        background-color: black;
        overflow: hidden;
        border: 2px solid beige;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    a{
        text-decoration: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        padding: 14px;
    }
    #dropMenu{
        display: none;
        padding: 14px 14px;
    }
    #dropdown:hover #dropMenu{
        display: block;
        position: absolute;
        background-color: black;
        margin-top: 16px;
        border: 2px solid beige; 
        box-shadow: 0px 4px 4px 0px;
    }
    h1{ /* sets the text alignment, font, border and height for an h1 header */
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid white;
        height: 30px;
        color: white;
        font-size: 25px;
    }
    #mainHeader{ /*Sets a background color for text, alignment, height, font, size, and a rounded edge border for my main header*/
        background: white;
        text-align: center; 
        height: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        border-radius: 3px;
        color: black;
    }
    .micro-5-charted-regular { /* Add Google Font to embed in the webpage*/
        font-family: "Micro 5 Charted", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 14px;
    }
    .highlight{ /*This sets a background color with a rounded edge for my paragraph and also setting the font color, alignment, and style for the words. */
        background-color: whitesmoke;
        border-radius: 3px;
        font-style: italic;
        color: black;
        text-align: center;
        font-size: 14px;
    }
    footer{ /* sets a background color for the footer, define its height, text alignment, and a rounded edge border*/
        background: white;
        text-align: center;
        border-radius: 5px;
        color: black;
        font-style: italic;
        font-size: 14px;
    }
}

@media (min-width: 1024px){
    body{
        background-color: #7f8c8d;
        color: whitesmoke;
        margin: 50px;
        font: 24px;
    }
    .liDrop{
        padding: 20px;
    }
    .navBar{
        background-color: bisque;
        overflow: hidden;
        border: 2px solid black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #dropMenu{
        display: none;
        padding: 14px 14px;
    }
    #dropdown:hover #dropMenu{
        display: block;
        position: absolute;
        background-color: bisque;
        margin-top: 16px;
        border: 2px solid black; 
        box-shadow: 0px 4px 4px 0px;
    }
    a{
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        padding: 14px;
    }
    h1{ /* sets the text alignment, font, border and height for an h1 header */
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid black;
        height: 40px;
        color: white;
        font-size: 35px;
    }
    #mainHeader{ /*Sets a background color for text, alignment, height, font, size, and a rounded edge border for my main header*/
        background: black;
        text-align: center; 
        height: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        border-radius: 3px;
        color: white;
    }
    .micro-5-charted-regular { /* Add Google Font to embed in the webpage*/
        font-family: "Micro 5 Charted", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 16px;
    }
    .highlight{ /*This sets a background color with a rounded edge for my paragraph and also setting the font color, alignment, and style for the words. */
        background-color: whitesmoke;
        border-radius: 3px;
        font-style: italic;
        color: black;
        text-align: center;
        font-size: 16px;
    }
    footer{ /* sets a background color for the footer, define its height, text alignment, and a rounded edge border*/
        background: black;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-style: italic;
        font-size: 16px;
    }
}