header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

/*Navigation Bar*/
ul{
    list-style-type: none;
    list-style-image: url('../images/fire.png');
    padding: 0;
}
.liNav{
    display: inline-block;
}
.liDrop{
    padding: 10px;
}
.navBar{
    background-color: bisque;
    overflow: hidden;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 14px;
}
#dropMenu{
    display: none;
    padding: 14px 14px;
}
#dropdown:hover #dropMenu{
    display: block;
    position: absolute;
    background-color: bisque;
    margin-top: 16px;
    border: 2px solid black; 
    box-shadow: 0px 4px 4px 0px;
}

/*Flex Column*/
.flexBox{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column{
    flex: 2;
    margin: 10px;
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Float Column*/
.floatBox{
    padding: 0px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.floatBox img{
    float: left;
    margin-right: 20px;
    width: 25%;
    border: 2px solid black;
}
.float-left{
    float: left;
    margin-right: 20px;
    width: 150px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*footer*/
footer{
    text-align: center;
    font-style: italic;
}
.hrFoot{
    margin-top: 30px;
}